.login__form-span-link{
    min-width: 290px;
    padding: 0;
    padding-bottom: 0;
  }
  .login {
    margin: 54px auto 0;
  }
  
  .form_link:hover{
    opacity: .7;
  }
 
  .login__form-span-error{
    margin-bottom: 120px;
  }
  @media screen and (max-width: 768px) {
    .login__form {
      margin: 20px auto;
    }
    .login__form-span-link{
      padding-bottom: 110px;
    }
    .login__form-span-error{
      margin-bottom: 100px;
    }
  }
  @media screen and (max-width: 420px) {
    .login {
      margin: 105px 0 0;
      padding: 0;
    }
    .login__form-span-link {
      width: 290px;
      padding: 0;
      margin: 14px auto 0;
      max-width: 250px;
    }
    .login__form-span-error{
      margin-bottom: 100px;
    }
  }