.service__content{
  width: 100%;
}


.card_one {
    align-items: center;
    height: 400px; /* Update height based on your design */
    width: 22%; /* Update width based on your design */
    margin:0;
    perspective: 1000px;
    position: relative;
  }
  
  .card {
    position: relative;
    transition: ease all 2.3s;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 100%;
  }
  
  .card:hover .card-back {
    z-index: 2; /* Ensure it's above front content */
    transform: rotateY(0deg);
  }
  
 .card-back {
   /* transform: rotateY(180deg);*/
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ffffff; /* измените цвет фона на ваш выбор */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
   
    transition: ease transform 2.3s, ease background 0.3s;
    transform: translateZ(-1px) rotatey(-180deg);
    background: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    padding: 14px 32px;
    outline: none;
    text-decoration: none;
    height: 69%;
    width: 85%;
    top: 90px;
    left: 27px;
  }
  
   .card-back .link {
    padding: 10px 20px;
    font-size: 18px;

    background: transparent;
    backdrop-filter: blur(40px);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: ease background-color 0.3s;
    position: absolute;
    top: 290px;
    font-weight: 400;
    color: white;
  }
  
.card-back .link:hover {
    background-color: #0056b3; /* измените цвет фона кнопки при наведении на ваш выбор */
  }
  
  .is-flipped .card {
    transform: rotateY(0deg);
  }
  

  .card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
    z-index: 2; /* Ensure it's above back content */
  }

  .card:hover .cover {
    transform: rotateX(0deg) rotateY(-180deg);
  }
  .card:hover .cover:before {
    transform: translateZ(30px);
  }
  .card:hover .cover:after {
    background-color: black;
  }
  .card:hover .cover h3 {
    transform: translateZ(100px);
  }
  .card:hover .cover .card__subtitle-one {
    transform: translateZ(60px);
  }
  .card:hover .cover  {
    transform: translateZ(-8px) rotatey(-180deg);
  }

  .card .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #000000c7;
  }
  .card .cover:before {
    content: "";
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    transition: ease all 2.3s;
    transform-style: preserve-3d;
    transform: translateZ(0px);
  }
  .card .cover:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    transition: ease all 1.3s;
    background: rgba(0, 0, 0, 0.4);
  }

  .card .cover h4 {
    font-weight: 600;
    position: absolute;
    bottom: 55px;
    left: 50px;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    z-index: 3;
    font-size: 1,5em;
    transform: translateZ(0px);
  }
  .card .cover  {
    font-weight: 200;
    position: absolute;
    top: 20%;
    right: 0%;
    color: white;
    transform-style: preserve-3d;
    transition: ease all 2.3s;
    z-index: 4;
    font-size: 1.5em;
    transform: translateZ(0px);
  }

  

  .link{
    transform-style: preserve-3d;
    transition: ease transform 2.3s, ease background 0.5s;
  
    background: transparent;
    border: 1px solid white;
    font-weight: 200;
    font-size: 1.3em;
    color: white;
    padding: 14px 32px;
    outline: none;
    text-decoration: none;  
  }
  .card .card-back :hover {
    background-color: white;
    color: #0b0f08;
  }
  .link:hover {
    background-color: white;
    color: #0b0f08;
  }
.card-cover{
  position: absolute;
  width: 245px;
  width: 25%;
  /* height: 70%; */
  /* position: static; */
  /* padding: 20px 30px; */
  margin-top: 73px;
  /* margin: 20px 30px; */
  margin-left: 31px;
   
}
.card__title-one{
  position: fixed;
  top: 61%;
  right: 8%;
  font-size: 0.9em;
  z-index: 2;
  width: 156px;
  font-weight: bold;

}
.card__subtitle-one{

  font-size: 0.8em ;
}
.service__title{
  color: rgb(0, 0, 0);
  font-family: Bebas Neue;
  font-size: 70px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: -1.1px;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding-top: 110px;

}
@media screen and (max-width: 790px) and (min-width: 500px) {
  .card-cover{
    width: 50%;
  }
  card__title-one{
    font-size: 0.9em;
  }
  .card .cover{
    height: 80%;
  }
  .card .card-back .link{
    top: 220px;
  }
  .card .card-back {
   height: 45%;
    top: 81px;

    display: flex;
    justify-content: flex-start;
    padding: 10px;
    width: 80%;
  }
  .card__subtitle-one{
    font-size: 0.6em;
    font-weight: normal;
  

  }

  .card-cover{
margin-top: 20px;
margin-left: 30px;
  }
  .card {
    position: relative;
    transition: ease all 2.3s;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 120%;
}
.card_one {
  align-items: center;
  height: 250px;
  width: 40%;
  margin: 0;
  perspective: 1000px;
  position: relative;
}
.card .card-back .link{
  font-size: 14px;
  top: 155px;
  padding: 10px 10px;
}
.card__title-one{
font-size: 0.6em;
}
}

@media screen and (max-width: 501px) and (min-width: 400px) {
  .card{
    height: 120%;
  
  }
  .card-cover{
  
    width: 30%;
  }
  .card .cover{
    height: 80%;
    top: 33px;
  
  }
  .card .card-back .link{
    top: 155px;
  }
  .card .card-back {
    height: 60%;
    top: 130px;
 
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .card__subtitle-one{
    font-size: 0.6em;
    font-weight: normal;
  

  }
  .card_one{
    width: 62%;
    height: 240px;

}
.service__title{
  font-family: Bebas Neue;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  padding-bottom: 50px;
}
}
@media screen and (max-width: 1280px) and (min-width: 956px) {
  .card_one{
    height: 300px;
    width: 30%;
  }
  .card-back{
  /*  max-width: 300px;
    max-height: 65%;
    top: 80px;
    left: 44px;*/
  }
  .card .card-back .link{
    top: 175px;
  }
  .card__subtitle-one{
font-size: 0.8em;
font-weight: normal;
text-align: center;
  }
  .card__title-one{
    position: fixed;
    top: 61%;
    right: 8%;
    font-size: 0.8em;
    z-index: 2;
    width: 156px;
    font-weight: bold;
  
  }
}

@media screen and (max-width: 955px) and (min-width: 796px) {
  .card_one{
    height: 250px;
    width: 30%;
  }
  .card__subtitle-one{
font-size: 0.6em;
font-weight: normal;
text-align: center;
  }
  .card .card-back {
    height: 57%;
    top: 70px;
    width: 74%;
    left: 33px;
  }
  .card .card-back .link{
    top: 155px;
    font-size: 16px;
    padding: 10px;
  }
  .card__title-one{
    position: fixed;
    top: 61%;
    right: 8%;
    font-size: 0.7em;
    z-index: 2;
    width: 156px;
    font-weight: bold;
  
  }
}
@media screen and (min-width: 320px) and (max-width: 399px) {
  .card_one{
    height: 250px;
    width: 80%;
  }
  .service__title {
    font-size: 26px;
    padding-top: 35px;
  }
  .card .card-back {
top: 76px;
width: 80%;
  }
  .card .card-back .link {
    top: 160px;
    padding: 5px;
    font-size: 0.7em;
  }
  .card__subtitle-one{
font-size: 0.6em;
font-weight: normal;
text-align: center;
  }
  .card__title-one{
    position: fixed;
    top: 61%;
    right: 8%;
    font-size: 0.7em;
    z-index: 2;
    width: 156px;
    font-weight: 400;
  
  }
}
@media screen and (min-width: 502px) and (max-width:795px) {
  .card_one{
    height: 250px;
    width: 40%;
  }
  .card .card-back {
    /*height: 57%;
    top: 70px;
    width: 74%;
    left: 44px;*/
  }
  .card__subtitle-one{
    font-size: 0.6em;
    font-weight: normal;

  }
  .card .card-back .link {
    top: 149px;
  }
  .service__title{
  font-family: Bebas Neue;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
}
}

  @media screen and (max-width: 1215px) and (min-width: 950px) {
    .card .card-back .link{
      top: 185px;
    }
    .card .card-back {
      height: 60%;
      width: 78%;
      top: 100px;
      left: 32px;
      display: flex;
      justify-content: flex-start;
      padding: 10px;
    }
  }

@media screen and (max-width: 680px) and (min-width: 500px){
.card .card-back {
   /* height: 60%;
    top: 81px;
    left: 20px;*/
    display: flex;
    justify-content: flex-start;
    padding: 10px;
   /* width: 80%;*/
}
}


@media screen and (max-width: 501px) and (min-width: 400px){
.card .card-back {
  height: 50%;
  top: 47px;
  width: 80%;
}
.card__title-one{
  position: fixed;
  top: 61%;
  right: 8%;
  font-size: 0.8em;
  z-index: 2;
  width: 156px;
  font-weight: 400;

}
}
@media (min-width: 1281px) { 
.card{
  width: 100%;
}
.card_one {
  align-items: center;
  height: 400px;
  width: 25%;
  margin: 0;
  perspective: 1000px;
  position: relative;
}
.card .card-back {
  height: 64%;
  top: 105px;
  width: 80%;
  left: 33px;
}

}
  
