.feed__iframe{
width:760px;
height:800px;
overflow:hidden;
position:relative;
}
.feed__title{
    color: #13171D;
    text-align: center;
}
.feed__iframe_map{
    width:100%;
display:flex;
align-items: center;
justify-content: center;
margin: 30px 0px;
filter: drop-shadow(0px 8px 10px rgb(38, 0, 255)) drop-shadow(0px 50px 60px rgba(17, 0, 255, 0.125));
}
.feed__map{
    width:700px;
    height: 1000px;
    outline: none;
    border: none;
    border-radius: 20px;
}
.feed{
display: grid;
justify-content: center;
}

.feed__iframe-container {
    display: grid;
    align-items: center;
    align-content: center;
    flex-direction: row;
}