.contactsRef {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px auto;
  background-color: #004578;
    clip-path: polygon(0% -4%, 29% 5%, 58% 2%, 100% 12%, 101% 78%, 100% 100%, 12% 98%, 0% 100%);
    padding-bottom: 50px;
  }


  .contacts__content {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.contacts__icon-sochial{
    list-style: none;
}
.contacts__subtitle-ref{
  color: white;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.contacts__info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contacts__block-ref{
  display: flex;
  flex-direction: column;

  gap: 10px;

  color:rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: 0;
    
    padding: 10px 15px;
}
.contactsRef {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
color: rgb(255, 255, 255);

 background-color: #004578;
    clip-path: polygon(0% -4%, 29% 5%, 58% 2%, 100% 12%, 101% 78%, 100% 100%, 12% 98%, 0% 100%);
 
}

.contacts__list-text{
  margin: 0 auto;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 10px;
  color: #ffffff;

}
.contacts__list-title{
  margin: 0 auto;
}
.contacts__text-ref{

  cursor: pointer;
  border-bottom: 1px solid #f9a92c;
}
.contacts__text-ref:hover {
  color: #F9A92C;
}
.contacts__block-sochial{

  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-bottom: 1px solid #f9a92c;
}
.contacts__image-sochial{
  max-width: 50px;
  height: 50px;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0px auto;
  padding: 3px 6px;
}
.contacts__image{
  max-width: 30px;
  height: 30px;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0;
}


@media (max-width: 768px) {
    .contactsRef {
      padding: 10px;
    }


}

@media (min-width: 320px) and (max-width: 500px) {
.contacts__info{
 flex-direction: column;
}
.contacts__block-ref{
    padding: 0;
  }
.footer__contacts{
  text-align: center;

}
.contacts__text-ref:hover {
  color: #F9A92C;
}
.contacts__icon{
  display: none !important;
}

}