.catalog-list{
    color: #13171D;
    font-family: Bebas Neue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
    padding-top: 50px;
    max-width: 1000px;
}
@media (max-width: 768px) {
    .catalog-list{
        font-size: 30px;
    }
}