.form__block {
    padding: 70px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 396px;
  }
  
  .logo {
    width: 38px;
    height: 38px;
  }
  
  .logo:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .form__title-one {
    color: #000000;
    padding: 40px 0;

  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    min-height: 380px;
    width: 100%;
  }
  
  .form__button-save {
    margin-top: auto;
    height: 45px;
    border: none;
    background: #4285f4;
    border-radius: 3px;
    color: white;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
  }
  
  .form__button-save:hover {
    opacity: 0.8;
  }
  
  .form__button-save_inactive {
    pointer-events: none;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    color: #000000;
    opacity: 0.2;
  }
  
  .form__button-save_loading {
    pointer-events: none;
    opacity: 0.6;
  }
  
  .form__text {
    padding-top: 16px;
    text-align: center;

    color: #8b8b8b;
  }
  
  .form__link {
    text-decoration: none;
    color: #4285f4;

  }
  
  .form__link:hover {
    color: #a0a0a0;
  }
  
  .form__label {
    position: relative;
    margin: 0 0 31px;

    color: #8b8b8b;
  }
  


  .form__input:focus {
    outline: 1px solid #4285f4;
    background-color: #2f2f2f;
    box-shadow: inset 20px 20px 0px 20px #2f2f2f;
  }

  .form__input_type_error {
    border-bottom-color: #EE3465;
  }
  
  .form__input_type_error:focus {
    border-bottom-color: #EE3465;
  }

  .form__input-error {
    position: absolute;
    top: 69px;
    left: 0;
    margin: 0;
 
    color: var(--color-err);;
  }
  
  .form__input-error_active {
    visibility: visible;
  }
  
  @media screen and (max-width: 1023px) {

  }
  
  @media screen and (max-width: 576px) {
    .form__block {
      padding: 56px 30px 30px 30px;
      align-items: center;
    }
  
    .form__title {
      margin: 0;
      padding: 50px 0 80px 0;
      text-align: center;
    }
  
    .form {
      min-height: 468px;
    }
  

  
    .form__text {
      padding-top: 14px;

    }
  

  }
  
  @media screen and (max-width: 464px) {
    .form__block {
      width: 320px;
      padding: 56px 0px 30px 0px;
    }
  }
  
  @media screen and (max-width: 375px) {
    .form__block {
      width: 260px;
    }
  }