.breadcrum {
    display: flex;
    flex-direction: row;

    gap: 8px;

    margin: 0px 0px 40px 0px;
    text-decoration: capitalize;
    position: relative;
    align-items: flex-start;

        padding: 0 10px 0 10px;
}
.breadcrum-img{
    width: 5px;
}
@media (min-width: 320px) and (max-width: 500px){
    .breadcrum {

        margin:0 0 30px 0;
    }
}
@media (min-width: 501px) and (max-width: 768px) {
  .breadcrum {

        margin: 0 0 50px 0;
    }
}