.modal-overlay {
  position: fixed; left: 0; top: 0; right: 0; bottom: 0;
  background: rgba(20, 28, 47, 0.31);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1010;
}
.modal-content {
  background: #fff;
  border-radius: 10px;
  padding: 23px 18px 20px;
  min-width: 240px;
  max-width: 320px;
  box-shadow: 0 8px 26px rgb(50 50 90 / 16%);
  position: relative;
}

.modal-close-btn {
  margin-top: 14px;
  padding: 7px 16px;
  background: #197afd;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;

}