.gifts__title{
    padding-top: 30px;
    font-family: Bebas Neue;
    font-size: 66px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: -1.1px;
    max-width: 625px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    /* background: linear-gradient(-45deg, #00338b, #F9A92C); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-clip: text; */
    text-transform: uppercase;
    color: rgb(45, 128, 196);
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
}

.bubble-text{
    font-size: clamp(2rem,calc(2rem +3.5vw),8rem)
    color; hyphenate-limit-chars:(0,8%,50%);
    user-select: none;
    & .split-char{
        font-weight: 200;
        transition: font-weight 0.5s ease;
    }

}